{% extends 'blog/base.html' %}

{% block title %}
    {{ article.title}}
{% endblock %}

{% block content %}
    <h3>{{ article.title }}</h3>
    <blockquote class="blockquote">{{ article.text|safe }}</blockquote>
    {{ article.username }}
           <hr>
       <p class="post-meta" align="right"><em>Дата публикации: {{ article.datetime }}</em></p>

   <!-- <div align="right" class="main-footer"><em><a href="/"> На главную</a></em></div> 
 <div align="right"><a href="/" class="btn btn-default" role="button" >На главную</a></div>-->
{% endblock %}

