{% extends 'blog/base.html' %}

{% block title %}
    Главная
{% endblock %}
{% block content %}
    <h2>Главная</h2>
    {% for article in articles %}
        <h4><a href="{% url 'article' article.id %}"> {{ article.title }}</a></h4>
        <hr>
       <blockquote class="blockquote">{{ article.get_short_text|safe }}...</blockquote>
       <hr>
       <p class="post-meta" align="right"><em>Дата публикации: {{ article.datetime }}</em></p>

       <!-- <div align="right" class="main-footer"><em><a href="{% url 'article' article.id %}"> Подробнее..</a></em></div> -->
        <div align="right"><a href="{% url 'article' article.id %}" class="btn btn-default" role="button" >Подробнее..</a></div>


    {% endfor %}
{% endblock %}
